{% include 'header.html' %}


<h3>Agregando nuevos PRODUCTOS</h3>

<form action="{{url_for('produto_guardar')}}" method="post">
    <div class="mb-3">
        <label for="descripcion" class="form-label">Descripción</label>
        <input type="text" class="form-control" id="descripcion" name="descripcion">
    </div>
    <div class="mb-3">
        <label for="cantidad" class="form-label">Cantidad</label>
        <input type="number" class="form-control" id="cantidad" name="cantidad">
    </div>
    <div class="mb-3">
        <label for="precio" class="form-label">Precio</label>
        <input type="text" class="form-control" id="precio" name="precio">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>


{% include 'footer.html' %}